/*Variables styles go under here */

#add_record_form {
    margin: .5em 0 1em;
}
#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.font_center {
    text-align: center;
}
